---
import Layout from "../layouts/Layout.astro"

import { UnicodeNumbersTable } from "../components/UnicodeNumbersTable"
---

<Layout title="Unicode Numbers [character construction]">
  <h1>Unicode Numbers</h1>

  <div class="prelude">
    List of characters with a unique numeric value
  </div>

  <UnicodeNumbersTable client:load />

  <div class="outro">
    Available as a software library in <a href="https://github.com/janlelis/unicode-number.js">JavaScript</a> and <a href="https://github.com/janlelis/unicode-numeric_value">Ruby</a>
  </div>
</Layout>