---
import Layout from "../layouts/Layout.astro"

import { UnicodeNumbersTable } from "../components/UnicodeNumbersTable"
---

<Layout title="Unicode Numbers [character construction]">
  <h1>Unicode Numbers</h1>

  <UnicodeNumbersTable client:load />
</Layout>