<ul class="links">
  <li><a href="/emoji/"><span>All Emoji</span></a></li>
  <li><a href="/picto/"><span>Pictographic</span></a></li>
  <li><a href="/emoji-categories/"><span>Emoji Categories</span></a></li>
  <li><a href="/emoji-vs-text/"><span>Emoji vs. Text</span></a></li>
  <li><a href="/blanks/"><span>Blank Characters</span></a></li>
  <li><a href="/numbers/"><span>Unicode Numbers</span></a></li>
  <li><a href="/az/"><span>From A to Z</span></a></li>
  <li><a href="/boxes/"><span>Box Library</span></a></li>
  <li><a href="/ancient-egypt/"><span>Ancient Egypt</span></a></li>
</ul>