<ul class="links">
  <li><a href="/emoji"><span>All Emoji</span></a></li>
  <li><a href="/name"><span>Name That Character</span></a></li>
  <li><a href="/picto"><span>Pictographic</span></a></li>
  <li><a href="/emoji-categories"><span>Emoji Categories</span></a></li>
  <li><a href="/emoji-vs-text"><span>Emoji or Text Presentation</span></a></li>
  <li><a href="/scripts"><span>Scripts</span></a></li>
  <li><a href="/blanks"><span>Blank Characters</span></a></li>
  <li><a href="/control-codes"><span>Control Characters</span></a></li>
  <li><a href="/numbers"><span>Numbers</span></a></li>
  <li><a href="/az"><span>From A to Z</span></a></li>
  <li><a href="/boxes"><span>Box Library</span></a></li>
  <li><a href="/ancient-egypt"><span>Ancient Egypt</span></a></li>
</ul>