---
layout: ../layouts/Layout.astro
title: Emoji or Text Presentation [character construction]
---

# Emoji or Text Presentation

<div class="intro">
  Some Emoji can be toggled between a textual and pictographic (emoji) display. This is done by appending a specific codepoint to the Emoji, a so called variation selector. There are two Emoji-relevant variation selectors:

  <br/><br/>

  <table class="table table-all-left">
    <thead>
      <tr>
        <th>Character</th>
        <th>Codepoint</th>
        <th>Name</th>
        <th>Effect</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><span class="c">︎</span></td>
        <td><span class="u">U+FE0E</span></td>
        <td>Variation Selector 15</td>
        <td>Prefer text</td>
      </tr>
      <tr>
        <td><span class="c">️</span></td>
        <td><span class="u">U+FE0F</span></td>
        <td>Variation Selector 16</td>
        <td>Prefer picture</td>
      </tr>
    </tbody>
  </table>

  Still, it depends on your platform/operating system how these Emoji are presented. For example, on some platforms, a textual smiley might nevertheless be shown as a colorful Emoji smiley.

  The list contains all text and pictographic representations of switching-enabled Emoji. The middle column shows the default display without any variation selector. Please note, this page does only list a subset of Emoji, where the base Emoji is a single codepoint and not a codepoint sequence. For Emoji sequences, see [Unqualified Emoji](/unqualified-emoji).
</div>

<%= emoji_text_name %>
