---
layout: ../layouts/Layout.astro
title: Pictographic, Non-Emoji [character construction]
---

# Pictographic Characters (Non-Emoji)

<div class="prelude">
  click to copy to system clipboard
</div>

<%= all_picto %>