---
layout: ../layouts/Layout.astro
title: UQE and MQE Emoji [character construction]
---

# Unqualified and Minimally-Qualified Emoji Sequences

<div class="prelude">
  List of Emoji that lack one or multiple VS16 (Emoji Presentation Selector) codepoints
</div>

<%= qualify_emoji %>

<div class="outro">
  See <a href="/emoji-vs-text">Emoji or Text Presentation</a> for singleton Emoji
</div>