---
import Navigation from "../components/Navigation.astro"
// import type { MarkdownLayoutProps } from 'astro';

import '../styles/all.scss';

type Frontmatter = {
  title: string;
}

type Props = {
  frontmatter?: Frontmatter;
  title?: string;
};

const { frontmatter } = Astro.props;
const title = frontmatter ? frontmatter.title : Astro.props.title
---
<!doctype html>
<html>
  <head>
    <title>{ title || "character.construction" }</title>

    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="description" content="Current Unicode characters, codepoints, Emoji and other resources"/>
    <meta name="keywords" content="unicode, codepoints, data, emoji"/>

    <script>
      import { registerShake, registerScroll, registerLinkHeadings, registerClipboard } from "../lib/support"

      document.addEventListener('DOMContentLoaded', registerShake)
      document.addEventListener('DOMContentLoaded', registerScroll)
      document.addEventListener('DOMContentLoaded', registerLinkHeadings)
      document.addEventListener('DOMContentLoaded', registerClipboard)
    </script>
  </head>

  <body>
    <div class="world">
      <section class="post-header">
        <a class="cc" href="/">[ character.construction ]</a>
        <Navigation />
      </section>

     	<article class="post">
        <slot />
      </article>

      <footer>
        <a href="/" class="action">character.construction</a> is curated by <a rel="me" href="https://ruby.social/@idiosyncratic">Jan Lelis</a><br/>
        Unicode 16.0 (September 2024) · Emoji 16.0 (September 2024)<br/>
        <a href="https://github.com/janlelis/character.construction">GitHub</a> · <a href="https://janlelis.com/data-protection">Privacy Policy</a>
      </footer>
    </div>
  </body>
</html>
