---
title: character.construction
date: 2019-03-05
tags: unicode, codepoints
---

<div class="site-intro">
  Welcome! Unicode is an important ground layer of modern communication.<br/>
  Reason enough to collect notable characters, codepoints, and resources.
</div>

